    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title pull-left">
          <h3>Contacts</h3>
        </div>
        <button class="btn btn-success pull-right" [routerLink]="['new']">New Contact</button>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <ul class= "list-group">
              <cms-contact-item *ngFor="let contact of contacts; let i = index" [contact]="contact" (click)="onSelected(contact)"[contactIdx]="i"
                                  dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['demo1']">
              </cms-contact-item>
            </ul>
          </div>
        </div>
      </div>
    </div>


<!--
  <div class="row">
<div class="col-xs-12">
<ul class="list-group">
<cms- <div class="ccontact]="contact" (click)="onSelected(contact)"></cms-contact-item>
</ul>
</div>
</div>

<cms-contact-item> *ngfor="let contact of contacts; let i = index" [contact]="contact" [contactId]="i"></cms-contact-item>

<div class="row">
  <div class="col-xs-5 col-xs-offset-1">
   </div>
</div>

-->
