    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title pull-left">
          <h3 class="list-group-item-heading">{{selectedContact?.name}}</h3>
        </div>
        <button class="btn btn-danger pull-right">Delete</button>
        <button class="btn btn-primary pull-right">Edit</button>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <ul class= "list-group">
              <cms-contact-item *ngFor="let contact of contactGroup" [contact]="contact" ></cms-contact-item>
            </ul>
          </div>
        </div>
      </div>
    </div>



<!--

<div class="row">
  <div class="col-xs-5 col-xs-offset-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title pull-left">
          <h3 class="list-group-item-heading">{{selectedContact?.name}}</h3>
        </div>

        <div class="row">
  <div class="col-xs-5 col-xs-offset-6">
  </div>
</div>
-->
